@import "base";

.view-all-toolkit-resources #edit-field-toolkit-organization-value-wrapper{
  padding:.5em 0;
  display:block;
}
#edit-field-toolkit-organization-value {
 width: 580px;
}

.screencast > .fluid-width-video-wrapper {
  height: 771px;
  padding-top: 0 !important;
}
