
//  Colors
//----------------------------------------------------------------------------------------------------

$white:             #ffffff;
$black:             #000000;
$black-lighter:     #291511;

$gray-white:        #F0F1F2;
$gray-lightest:     #E5E5E5;
$gray-light:        #E1E3E6;
$gray:              #C3C7CC;
$gray-dark:         #68707e;
$gray-darker:       #424c5e;
$gray-darkest:      #182643;

$red:               #b52847;
$red-dark:          #95223C;

$green-lighter:     #4EBE53;
$green:             #3EA742;
$green-dark:        #5DA863;
$green-darker:      #2E7D31;
$green-darkest:     #276C2A;

$blue-white:        #ecf3f7;
$blue-lightest:     #c4d4e6;
$blue-lighter:      #c9e7f6;
$blue-light:        #ccffff;

$baby-blue:         #93CEED;

$royal-light:       #4870BB;
$royal:             #3D5CAD;
$royal-dark:        #4168b6;
$royal-darkest:     #325190;

$navy-light:        #424C5E; //default
$navy:              #353D4B;
$navy-dark:         #313946;
$navy-darkest:      #182643;

//  Typography
//----------------------------------------------------------------------------------------------------

$base-font-size: 21px;
$base-line-height: 29px;
@include establish-baseline;

//  Widths in px
//----------------------------------------------------------------------------------------------------
$width-full: 1080;
$width-content: 712;
$width-sidebar: 368;

//  CSS3
//----------------------------------------------------------------------------------------------------

$default-transition-duration: .15s;

//  Breakpoints
//----------------------------------------------------------------------------------------------------

$breakpoint-default-feature: "max-width";
$breakpoint-default-media: "screen";

$breakpoint-1120: 	 1120px;
$breakpoint-large: 		960px;
$breakpoint-medium: 	820px;
$breakpoint-780: 	   780px;
$breakpoint-small: 		640px;
$breakpoint-tiny: 		480px;
